html {
      box-sizing: border-box;
    }
    * {
      margin: 0;
      padding: 0;
    }
    *,
    *:before,
    *:after {
      box-sizing: border-box;
    }
    input,
    textarea,
    select,
    button {
      outline: none;
    }
    input {
      line-height: normal;
    }
    label,
    button {
      cursor: pointer;
    }
    a {
      text-decoration: none;
    }
    img {
      display: block;
      max-width: 100%;
    }
    body {
      font-size: 15px;
      font-family: "Poppins", sans-serif;
    }
    .layout-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .layout {
      display: grid;
      /* grid-template-columns: column-size column-size .... ; */
      grid-template-columns: 200px 200px 100px;
      grid-template-columns: calc(50% - 40px) calc(20% - 40px) 30%;
      grid-template-columns: 33.33% 33.33% 33.33%;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 40px;
      grid-row-gap: 20px;
      grid-gap: 20px;
      grid-template-rows: 200px 600px;
      grid-template-rows: auto auto;
      /* fr = free space */
      /* grid-column-gap: 40px; */
      /* gap count: column count - 1 */
      /* grid-gap: grid-row-gap grid-column-gap */
      /* track line bắt đầu từ số 1*/
      /* Số cột 3 -> track line = số cột + 1 */
    }

    .post-content {
      font-weight: 300;
      padding: 25px 0;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .post-image--large {
      height: auto;
    }
    .post-item {
      display: flex;
      flex-direction: column;
    }
    .post-title {
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 20px;
      color: #3f2a78;
    }
    .post-time {
      color: #ccc;
      text-transform: uppercase;
    }
    /* card-list */
    body {
      padding: 20px;
    }
    .cards {
      --spacing: 20px;
      --columns: 4; /*thay doi so cot*/
      display: flex;
      flex-wrap: wrap;
      margin-top: 20px;
      margin-right: 20px;
      /* margin-left: calc(-1 * var(--spacing)); */
    }
    @media screen and (max-width: 1023px) {
      .cards {
        --columns: 2;
      }
    }
    @media screen and (max-width: 767px) {
      .cards {
        --spacing: 15px;
        --columns: 1;
      }
    }
    
    .card {
      border-radius: 25px;
      overflow: hidden;
      background-color: rgba(245, 222, 179, 0.245);
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      width: calc(calc(100% / var(--columns)) - var(--spacing));
      margin-left: var(--spacing);
      margin-bottom: var(--spacing);
    }
    .card-image {
      height: 200px;
      width: 100%;
      object-fit: cover;
      flex-shrink: 0;
    }
    .card-top {
      padding: 25px;
    }
    .card-title {
      font-size: 2vw;
      font-weight: 500;
      margin-bottom: 20px;
      word-break: break-all;
      display: -webkit-box;
      -webkit-line-clamp: 1; /*Đánh số dòng*/
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-word;
    }
    .card-user {
      display: flex;
      align-items: center;
    }
    .card-user-avatar {
      width: 40px;
      height: 40px;
      border-radius: 100rem;
      object-fit: cover;
      flex-shrink: 0;
    }
    .card-user-info {
      padding-left: 20px;
      flex: 1;
    }
    .card-user-top {
      display: flex;
      align-items: center;
      margin-bottom: 2px;
    }
    .card-user-name {
      font-weight: 500;
      font-size: 14px;
      line-height: 1;
    }
    .card-user-top ion-icon {
      color: #20e3b2;
      margin-left: 5px;
    }
    .card-user-game {
      color: #999;
      font-weight: 300;
      font-size: 13px;
    }
    .card-bottom {
      padding: 25px;
      border-top: 1px solid #eee;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .card-live {
      color: white;
      display: flex;
      align-items: center;
      padding: 5px 15px;
      border-radius: 10px;
      background-color: #ff6651;
    }
    .card-live span {
      margin-left: 10px;
      font-size: 14px;
    }
    .card-watching {
      font-size: 13px;
      color: #999;
      font-weight: 300;
    }
    .card-content {
      flex: 1;
      display: flex;
      flex-direction: column;
    }
    .card-top {
      display: flex;
      flex-direction: column;
      flex: 1;
    }
    .card-user,
    .card-bottom {
      margin-top: auto;
      flex-shrink: 0;
    }
    .card {
      display: flex;
      flex-direction: column;
    }

    .header {
      background-color: #f5b05c;
      width:100%;
      display: inline-block;
  }
    /* .header{
    animation: changeBg 5s infinite alternate linear;
  }
  @keyframes changeBg
  {
    0% {
      background-color: #f38d85;
    }
    25% {
      background-color: #f575c0;
    }
  
    50% {
      background-color: #aef48b;
    }
  
    75% {
      background-color: #fcdc90;
    }
    100% {
      background-color: rgb(162, 162, 255);
    }
  } */
  .logo-img {
  height: auto;
  width: auto;
  vertical-align: middle;
  }
  .header-menu {
    display: flex;
    justify-content: center;
    padding: 0 10px 0 10px;
  }
  .search-form {
    /* width: 300px; */
    /* padding-left: 50px; */

    overflow: hidden;
    display: flex;;
    justify-content: center;
    align-items: center;
    position: relative;
  }
.search-btn__input
{
  border: 2px solid rgba(136, 136, 136, 0.212);
  height: 30px;
  width: 220px;
  overflow: hidden;
  border-radius: 5px;
  background-color:#ffffff;
  
  
}

.search-btn__btn
{
  height: 30px;
  overflow: hidden;
  border: 3px outset;
  border-radius: 5px;
  position: absolute;
  right: 0;
  

}
.gio-hang {
  margin: 30px 0 0 400px;
  /* padding: 30px 0px 30px 30px; */
  text-align: center;
  color: rgb(255, 255, 255);
}
.cart-text {
  padding-top: 5px;
}
.login {
  font: 1em sans-serif;
  padding: 30px;
}

.login a {
  padding-left: 20px;
  text-decoration: none;
  color: rgb(0, 81, 255);
}

#menu-filter >.cap  { 
  background: rgba(0, 64, 255, 0.577); padding: 8px 10px;
  font-weight: bold; text-transform: uppercase; 
  cursor: pointer; color: white;font-size: 18px;
  border-radius: 5px;

}
#menu-filter >.ct > label {
  margin: 8px 0 8px 30px;
  font-size: 18px; 
  display: block; 
  cursor: pointer; 
}
#menu-filter >.ct input { width: 16px; height: 16px; margin-right: 10px;}

#menu-filter
{
  display: block;
  margin-top: 20px;
  float: left;
}

